@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --page-1-color: #118ab2;
  --page-2-color: #06d6a0;
  --page-3-color: #073b4c;
  --page-4-color: #ef476f;
  --animation-speed: 2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}

.page p {
  font-size: 1.3rem;
}

#page-1 {
  background-color: var(--page-1-color);
}
#page-2 {
  background-color: var(--page-2-color);
}
#page-3 {
  background-color: var(--page-3-color);
}
#page-4 {
  background-color: var(--page-4-color);
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #424040;
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark {
  color: #f1f1f1;
  background-color: #424040;
}

.btn-dark:hover {
  color: #424040;
  background-color: #f1f1f1;
}

#page-1 h1 {
  transform: translateY(-1200px);
  animation: dropDown var(--animation-speed) forwards ease-in;
}

#page-1 p {
  transform: translateX(-1800px);
  animation: side var(--animation-speed) forwards ease-in 1s;
}

#page-1 a {
  transform: translateY(1200px);
  animation: btnMove var(--animation-speed) forwards ease-in-out;
}

@keyframes dropDown {
  to {
    transform: translateY(0);
  }
}

@keyframes side {
  to {
    transform: translateY(0);
  }
}

@keyframes btnMove {
  to {
    transform: translateY(0);
  }
}
